<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>


<dom-module id="visor-cuentas">
 <template>
    <style>
      :host {
        display: block;
  }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <h1>estoy en visor cuentas</h1>
   <h2>Cuenta -- {{iban}} </h2>
    <h3>Balance -- {{balance}} </h3>
 <iron-ajax auto
  id="getCuentas"
  url="http://localhost:3000/apitechu/v2/cuentas/{{idusuario}}"
  handle-as="json"
  on-response="showData"
  >
  </template>
  <script>
      class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
          type: String
        }, idusuario: {
           type: String
        }, balance: {
          type: Number
        }
        };
      }

  showData(data) {
  console.log(data.detail.response);
// estos de abajo son los que vienen de MLAB
this.iban = data.detail.response[0].IBAN;
this.balance = data.detail.response[0].balance;
}
}
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
